@import "tailwindcss";


@theme {
    /* Fonts */
    --font-sans: "Inter", sans-serif;

    /* Action Blue & Tonal Range */
    --color-primary: #003D9B;
    --color-primary-container: #0052CC;
    --color-surface-highest: #D7E2FF;
    --color-surface-low: #F1F3FF;
    --color-background: #F9F9FF;

    /* Slate Neutrals */
    --color-slate-900: #041B3C;
    /* main text / on-surface */
    --color-slate-500: #4F5F7B;
    /* secondary text */
    --color-slate-300: #C3C6D6;
    /* borders / dividers */
    --color-slate-muted: #737685;
    /* labels, captions */

    /* Semantic */
    --color-success: #82F9BE;
    --color-error: #BA1A1A;
    --color-warning: #FFB300;
}